<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/TPINT_GRUPO_5_LAB4?createDatabaseIfNotExist=true</property>
		<property name="hibernate.connection.username">YOUR_USERNAME</property>
		<property name="hibernate.connection.password">YOUR_PASSWORD</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>
		<mapping class="frgp.utn.edu.ar.entidad.Usuario"></mapping>
		<mapping class="frgp.utn.edu.ar.entidad.Medico"></mapping>
		<mapping class="frgp.utn.edu.ar.entidad.Especialidad"></mapping>
		<mapping class="frgp.utn.edu.ar.entidad.Paciente"></mapping>
		<mapping class="frgp.utn.edu.ar.entidad.Turno"></mapping>
	</session-factory>
</hibernate-configuration>
